
*.iml
.gradle
.idea
.kotlin
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/.kotlin/
xcuserdata/
Pods/
*.jks
*.gpg
*yarn.lock
/composeApp/release/composeApp-release.aab
