<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764447091440-rr5o4ttvj758qg20ege8n2pu7phu2h1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764447091440-rr5o4ttvj758qg20ege8n2pu7phu2h1u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>764447091440-n518vbrqnjrej9s6jvt2ai3em5f8441l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWN6byylUkL4j3UIk8ih245RX5HURQTrI</string>
	<key>GCM_SENDER_ID</key>
	<string>764447091440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bebi.app.watchit</string>
	<key>PROJECT_ID</key>
	<string>que-queres-ver</string>
	<key>STORAGE_BUCKET</key>
	<string>que-queres-ver.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764447091440:ios:f75a43c89665a04ec6b035</string>
	<key>DATABASE_URL</key>
	<string>https://que-queres-ver-default-rtdb.firebaseio.com</string>
</dict>
</plist>